@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Amble";
  src: url("../font/Amble-Regular.eot");
  src: local("☺"), url("../font/Amble-Regular.woff") format("woff"), url("../font/Amble-Regular.ttf") format("truetype"), url("../font/Amble-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BIG JOHN";
  src: url("../font/BIG JOHN.eot");
  src: local("☺"), url("../font/BIG JOHN.woff") format("woff"), url("../font/BIG JOHN.ttf") format("truetype"), url("../font/BIG JOHN.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background {
  background: url(../img/gradient_overlay_6353.png) 0 0/cover no-repeat, url(../img/rectangle_1_6349.png) 0 0/cover no-repeat;
  min-height: 100vh;
  background-position-x: center;
}

.menu {
  top: 0px;
  left: 0px;
  padding-top: 60px;
  padding-left: 50px;
  position: absolute;
}

.taitle {
  font-family: "BIG JOHN";
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 320px;
}

.title-decor {
  margin-top: 25px;
  width: 86px;
  border-top: 2px solid #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-family: "Amble";
  font-size: 22px;
  line-height: 30px;
  color: #fffefe;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  word-wrap: normal;
}

.mous {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 40px;
  bottom: 0px;
  left: 50%;
  position: absolute;
}

.intro {
  height: 600px;
  max-height: 600px;
}

.taitle-black {
  font-family: "BIG JOHN";
  font-size: 48px;
  line-height: 60px;
  color: #222;
  text-align: center;
  padding-top: 120px;
}

.title-decor_black {
  margin-top: 70px;
  width: 86px;
  border-top: 2px solid #222222;
  margin-left: auto;
  margin-right: auto;
}

.subtitle-black {
  font-family: "Amble";
  font-size: 22px;
  line-height: 30px;
  color: #222222;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  margin-top: 70px;
}

.pure {
  height: 500px;
  max-height: 500px;
  background: url(../img/rectangle_3_6382.png) 0 0/cover no-repeat;
  position: relative;
  background-position-x: center;
}

.button {
  position: absolute;
  max-width: 430px;
  min-width: 200px;
  height: 100px;
  border: 3px solid #ffffff;
  font-family: Amble;
  font-size: 30px;
  line-height: 100px;
  color: #fff;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover {
  color: #222222;
  border: 3px solid #222222;
  background-color: rgba(255, 255, 255, 0.411);
}

.galery {
  margin: 0 auto;
}

.menu_galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  padding: 80px;
}

.menu_galery li {
  font-family: "Amble";
  font-size: 18px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 40px;
}

.menu_galery li:hover {
  font-size: 20px;
  border-bottom: 4px solid #222;
}

.galery_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galery_img img {
  width: 33.3%;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 200px;
}

.mobil-ui {
  border: 8px solid #000000;
  background: url(../img/rectangle_6395.png) 0 0/cover no-repeat;
  display: inline-block;
  position: relative;
  line-height: 0;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  min-width: 200px;
}

.text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
}

.title-ui {
  font-family: "Big John";
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.subtitle-ui {
  font-family: Amble;
  font-size: 24px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.decor-ui {
  width: 48px;
  border-top: 2px solid #d87843;
  margin: 0 auto;
}

.button-ui {
  margin: 0 auto;
  max-width: 370px;
  min-width: 200px;
  border: 3px solid #222222;
  color: #222;
  text-align: center;
  font-family: Amble;
  font-size: 24px;
  line-height: 60px;
  margin-top: 85px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-ui:hover {
  border: 3px solid #fff;
  background-color: rgba(22, 22, 22, 0.411);
  border: 3px solid #222222;
  color: #fff;
}

.help {
  height: 500px;
  max-height: 500px;
  background: url(../img/rectangle_3_6450.png) 0 0/cover no-repeat;
  position: relative;
  background-position-x: center;
}

.company {
  margin: 100px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.company img {
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 100px;
  padding: 10px;
  -webkit-filter: grayscale(1);
  filter: gray;
  filter: grayscale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.company img:hover {
  -webkit-filter: none;
  filter: none;
  filter: none;
}

.employee {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px auto 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.employee img {
  max-width: 270px;
  min-width: 100px;
  min-height: 150px;
  max-height: 360px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
}

.person {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.person:hover img {
  opacity: 0.5;
}

.person:hover .person-text {
  opacity: 1;
}

.person-text {
  width: 270px;
  max-width: 270px;
  min-width: 100px;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  opacity: 0;
}

.person-title-Name {
  font-family: "Big John";
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  margin: 0 auto;
}

.person-title-Post {
  font-family: "Amble";
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  vertical-align: bottom;
  margin: 0 auto 0;
}

.hiring {
  width: 270px;
  max-width: 270px;
  min-width: 100px;
  height: 360px;
  min-height: 150px;
  max-height: 360px;
  border: 1px solid #222222;
  position: relative;
}

.hirind-title {
  font-family: "Big John";
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  width: 120px;
  margin: 0 auto;
}

.hiring-decor {
  width: 86px;
  border-top: 2px solid #222;
  margin: 45px auto 0;
}

.hiring-botton {
  max-width: 180px;
  min-width: 100px;
  height: 60px;
  border: 3px solid #222222;
  font-family: "Amble";
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  margin: 45px auto 0;
}

.hiring-botton:hover {
  border: 3px solid #fff;
  background-color: rgba(22, 22, 22, 0.411);
  border: 3px solid #222222;
  color: #fff;
}

.hiring-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 200px;
}

.video {
  height: 500px;
  max-height: 500px;
  background: url(../img/rectangle_3_6514.png) 0 0/cover no-repeat;
  position: relative;
  background-position-x: center;
}

.video img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.choose {
  margin: 0 auto 50px;
}

.devise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 100px auto 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-devise {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  text-align: center;
}

.block-devise img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 300px;
  min-width: 100px;
  margin-top: 50px;
}

.title-device {
  font-family: Amble;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
  text-align: center;
  margin-top: 40px;
}

.subtitle-device {
  font-family: Amble;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  text-align: center;
  margin-top: 40px;
}

.quote {
  height: 500px;
  max-height: 500px;
  background: url(../img/rectangle_3_6593.png) 0 0/cover no-repeat;
  position: relative;
  background-position-x: center;
}

.touch {
  margin-bottom: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location {
  background-color: #f2f2f2;
  width: 55%;
}

.soc-web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 250px;
  margin: 35px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.soc-web img {
  max-width: 200px;
  min-width: 20px;
  padding: 10px;
}

.form {
  background-color: #e4e4e4;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.formitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 2vw;
}

.border1 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.formitem input {
  font-family: Amble;
  font-size: 18px;
  line-height: 40px;
  color: #676767;
  border-bottom: 2px solid #afafaf;
  background: #e4e4e4;
  padding-left: 10px;
  margin-top: 100px;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.formitem :last-child {
  padding-left: 10px;
  margin-top: 100px;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.formbutton {
  width: 183px;
  margin-top: 40px;
  text-align: center;
  margin-right: 100px;
  margin-left: auto;
}

.formbutton input {
  width: 183px;
  height: 60px;
  border: 3px solid #222222;
  font-family: Amble;
  font-size: 24px;
  line-height: 60px;
  font-family: Amble;
  font-size: 24px;
  line-height: 50px;
  color: #222222;
  text-align: center;
  background: #e4e4e4;
}

.formbutton input:hover {
  border: 3px solid #fff;
  background-color: rgba(22, 22, 22, 0.411);
  border: 3px solid #222222;
  color: #fff;
}