@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.area {
  background: #212121;
  background: -webkit-linear-gradient(to left, #484848, #000000);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 200px;
  height: 200px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 250px;
  height: 250px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
    background: rgba(33, 33, 33, 0.2);
  }

  100% {
    -webkit-transform: translateY(-120vh) rotate(720deg);
            transform: translateY(-120vh) rotate(720deg);
    opacity: 0;
    border-radius: 100%;
    background: rgba(255, 254, 254, 0.2);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
    background: rgba(33, 33, 33, 0.2);
  }

  100% {
    -webkit-transform: translateY(-120vh) rotate(720deg);
            transform: translateY(-120vh) rotate(720deg);
    opacity: 0;
    border-radius: 100%;
    background: rgba(255, 254, 254, 0.2);
  }
}

.top img {
  -webkit-animation: arrow 3s linear infinite;
          animation: arrow 3s linear infinite;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }

  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }

  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 15;
  display: none;
}

.okno {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

.cross {
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 20;
  cursor: pointer;
}

.imgSertificat {
  margin: auto;
  position: absolute;
  max-height: 90%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  z-index: 10;
}

.context p {
  text-align: center;
  color: #DBEDF3;
  line-height: 1.5;
  font-family: "Press Start 2P";
  font-size: calc(20px + 10 * ((100vw - 320px) / 960));
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.context .button {
  color: #DBEDF3;
  font-family: "Press Start 2P";
  text-align: center;
  border: #DBEDF3 5px solid;
  padding: 10px;
  border-radius: 5px;
  font-size: calc(20px + 10 * ((100vw - 320px) / 960));
  margin-top: 50px;
  display: inline-block;
}

.context .button:hover {
  color: #D72323;
  border: #D72323 5px solid;
}

.red-text {
  color: #D72323;
}

.title {
  color: #484848;
  font-family: "Press Start 2P";
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  font-size: calc(20px + 5 * ((100vw - 320px) / 960));
}

.about-conteiner p {
  text-indent: 20px;
}

.about-conteiner {
  color: #484848;
  font-family: "Roboto";
  text-align: justify;
  line-height: 1.4;
  font-size: calc(20px + 5 * ((100vw - 320px) / 960));
}

.collum2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-me {
  text-align: justify;
  width: 70%;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
}

.experience-conteiner {
  text-align: justify;
  width: 70%;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
}

.experience-conteiner ul {
  list-style: circle;
}

.sertifikat-conteiner {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.sertifikat-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  padding-top: 30px;
}

.sertifikat {
  width: 45%;
  display: block;
}

/*.sertifikat p{  
  text-align: center; 
  margin-bottom: 20px;
}*/

picture img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.futureSertificat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #484848;
  font-family: "Press Start 2P";
  font-size: 28px;
  text-align: center;
  border: #484848 3px solid;
  position: relative;
  cursor: auto;
}

.futureSertificat p {
  font-family: "Press Start 2P";
  color: #484848;
  margin-left: auto;
  margin-right: auto;
  font-size: calc(15px + 5 * ((100vw - 320px) / 960));
  width: 90%;
  text-align: center;
  text-indent: 0px;
  padding-top: 10%;
  padding-bottom: 10%;
}

.caption {
  color: #484848;
  font-family: "Roboto";
  text-align: center;
  padding-top: 10px;
  font-size: calc(17px + 8 * ((100vw - 320px) / 960));
}

.project-conteiner {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.project-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.project {
  width: 45%;
  display: block;
  position: relative;
}

.project picture {
  width: 100%;
  height: 300px;
}

.project img {
  border: #484848 3px solid;
}

.project p {
  opacity: 0;
  position: absolute;
  font-family: "Press Start 2P";
  color: #484848;
  font-size: 30px;
  z-index: 10;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 90%;
  height: 30px;
  text-align: center;
  font-size: calc(15px + 5 * ((100vw - 320px) / 960));
}

.project:hover p {
  opacity: 1;
}

.project:hover picture {
  opacity: 0.2;
}

.future-project {
  border: #484848 3px solid;
}

.future-project p {
  opacity: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.2;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-item {
  width: 60px;
}

.contact-conteiner {
  position: relative;
  padding-bottom: 20px;
}

.contact-conteiner .title {
  text-align: center;
}

.contact-phone {
  text-align: center;
  text-decoration: none;
  color: #484848;
  font-family: "Roboto";
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: calc(20px + 10 * ((100vw - 320px) / 960));
}

.top {
  width: 60px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  /*background: #D72323;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  margin-top: 60px;
  position: relative*/
}

.top p {
  color: #dbedf3;
  font-size: 50px;
  font-family: "Roboto";
  line-height: 100px;
}

@media (min-width: 767px) {
  .context p {
    font-size: calc(20px + 10*(100vw/960));
  }

  .context .button {
    font-size: calc(20px + 10*(100vw/960));
  }

  .title {
    font-size: calc(20px + 5*(100vw/960));
  }

  .about-conteiner {
    font-size: calc(20px + 5*(100vw/960));
  }

  .futureSertificat p {
    font-size: calc(15px + 5*(100vw/960));
  }

  .caption {
    font-size: calc(17px + 8*(100vw/960));
  }

  .project p {
    font-size: calc(15px + 5*(100vw/960));
  }

  .contact-phone {
    font-size: calc(20px + 10*(100vw/960));
  }
}

@media (max-width: 1000px) {
  .sertifikat {
    width: 45%;
  }
}

@media (max-width: 800px) {
  .sertifikat {
    width: 90%;
  }

  .futureSertificat {
    margin-left: 0px;
    margin-right: 0px;
  }

  .project-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .project {
    width: 90%;
  }

  .future-project {
    padding-top: 42%;
  }
}